.order-tittle{
    text-align: center;
    padding: 2rem 0;
}
.myOrder-warp{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
}

.myOrder-warp button{
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--gold);
}

.myOrder-warp button:hover{
    background-color: var(--lightBlack);
    color: var(--white);
}