.manage-food-warp{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    text-align: center;
    grid-gap: 2rem;
    padding: 1rem 0;
}
.manage-food-warp .manage-food img{
    width: 100%;
}
.manage-food-warp .manage-food h1{
    font-size: 1.5rem;
}
.manage-food-warp .manage-food button{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightBlack);
    background: var(--gold);
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.manage-food-warp .manage-food button:hover{
    background-color: var(--lightBlack);
    color: var(--white);
}