.add-food{
    display: flex;
    justify-content: center;
    align-items: center;
    background: l;
}
.add-food form {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.add-food input{
    border: none;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 1rem;
    border-bottom: 2px solid rgb(23, 165, 23);
}
.add-food form p {
    padding: 0;
    margin: 0;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}